# SPDX-FileCopyrightText: Copyright (c) 2019-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: docker
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
'on':
  push:
  pull_request:
jobs:
  docker:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: docker build . -t home
      - run: docker run --rm home echo Hello
