---
name: docker
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
on:
  push:
  pull_request:
jobs:
  docker:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: docker build . -t home
      - run: docker run --rm home echo Hello
